@model Xeber.Entity.News

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="alert-danger">
        <h3>Bu xeberi silmek istediyinizden eminsiniz?</h3>
    </div>
<div>
    
    <div class="container">
        <dl class="dl-horizontal">

            <dt style="font-weight:bold;background-color:yellow;width:160px">
                Başlıq
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NewsTitle)
            </dd>

            <dt style="font-weight:bold;background-color:yellow;width:160px">
                Məzmun
            </dt>
            <dd style="max-width:350px; height:auto">
                @Html.Raw(Model.NewsContent)
            </dd>

            <dt style="font-weight:bold;background-color:yellow;width:160px">
                Yaradilma Tarixi
            </dt>
            <dd>
                <time datetime="@Model.CreateDate.ToString("yyyy-MM-dd")">@Model.CreateDate.ToString("dd MMMM yyyy") </time>
            </dd>

            <dt style="font-weight: bold; background-color: yellow ;width:160px">
                Şəkili
            </dt>
            <dd>
                <img src="~/img/@Model.NewsImg" asp-append-version="true" width="400" height="400" />
            </dd>

            <dt style="font-weight:bold;background-color:yellow;width:160px ">
                Kategoriyasi
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.CatName)
            </dd>
        </dl>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Geri</a>
    </form>
</div>
