@model Xeber.Entity.NewsLang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewsLang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LangId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LangId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
