@model IEnumerable<News>
@{
    ViewData["Title"] = "Xəbər || Şou Biznes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SouBiznes</h2>
@foreach (var item in Model)
{

    <div class="card" style="margin-bottom:8px;display:inline-block">
        <a asp-action="Details" asp-route-id="@item.NewsId" style=" color:black">
            <img src="~/img/@item.NewsImg" width="250" height="250" asp-append-version="true" alt="...">
            <div class="card-body" style="height: 200px; overflow: hidden; width: 250px;">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.NewsTitle)</h5>
            </div>
        </a>
        <img src="~/lib/Icons/eye.svg" asp-append-version="true" width="25" height="20" />
        @item.ViewCount
        <div class="card-footer">
            <time datetime="@item.CreateDate.ToString("yyyy-MM-dd")">@item.CreateDate.ToString("dd MMMM yyyy")</time>
        </div>
    </div>


}


